{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="lg:w-[550px] xl:w-[600px]">
        <div class="space-y-4">
            {% for note in filter_tag(notes, "!travel") %}
                <div>
                    <div class="group">
                        <div class="pb-2 {% if loop.index == 0 %}pt-0{% endif %}">
                            <div class="text-blue-500 dark:text-blue-300 hover:text-blue-400 font-bold flex items-center gap-x-2 underline">
                                <p class="grow">
                                    <a href="{% if note.metadata.external_link %}{{ note.metadata.external_link }}{% else %}/notes/{{ note.webpage_path }}{% endif %}">
                                        {% if note.metadata.external_link %}
                                            <span class="inline-block mr-1">↗</span>
                                        {% else %}
                                            <span class="inline-block mr-1">§</span>
                                        {% endif %}
                                        {{ note.title }}
                                    </a>
                                </p>
                                {% if note.visible_tag %}
                                    <div class="text-indigo-500 dark:text-indigo-300 font-bold text-sm">{{ note.visible_tag }}</div>
                                {% endif %}
                                <div class="text-indigo-500 dark:text-indigo-300 font-bold text-sm">
                                    {{ note.metadata.date.strftime("%B %-d, %Y") }}
                                </div>
                            </div>
                        </div>
                        <article>
                            <p class="break-words text-gray-800 dark:text-gray-300">{{ note.get_preview() }}</p>
                        </article>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
