{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="">
    {% with %}
    {% set active = "home" %}
        {%include "logo.html"%}
    {% endwith %}
</div>
<div class="mt-8 max-w-2xl mx-auto px-4 text-gray-900 dark:text-gray-100">

    <div class="flex items-center tracking-tight">
        <img src="/icons/self_small.jpg" class="rounded-2xl w-44 h-44"></img>
        <div class="text-3xl font-bold ml-4">
            <div>Hi, I'm Pierce Freeman. No relation to Morgan.</div>
        </div>
    </div>

    <div class="mt-8 text-lg md:text-base">
        <p>I'm a product designer, ML engineer, and founder. I'm currently traveling around the world, reading a lot, and working on side projects.</p>
        <p class="mt-2">Over the last decade I've been lucky to meet incredible people, ship great software, and build teams large and small. I'm even more excited for the next chapter.</p>
    </div>
</div>

<div class="py-8 max-w-4xl mx-auto px-4 text-gray-900 dark:text-gray-100">
    <div class="grid grid-cols-2 gap-x-8 gap-y-8">
        <div class="col-span-2 md:col-span-1">
            <div class="text-xl"><i class="text-red-700 dark:text-red-500 font-semibold">What</i> I'm thinking...</div>
            {% for note in filter_tag(notes, "!travel")[:3] %}
            <a href="/notes/{{note.webpage_path}}">
                <div class="mt-4 rounded border dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg p-6">
                    <div class="text-lg md:text-base font-semibold text-red-700 dark:text-red-500">{{note.title}}</div>
                    <div class="text-base md:text-sm text-gray-600 dark:text-gray-400">{{note.metadata.date.strftime("%B %-d, %Y")}}</div>
                </div>
            </a>
            {% endfor %}
            <a href="/notes">
                <div class="mt-4 rounded border dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg p-6">
                    <div class="text-lg md:text-base font-semibold text-red-700 dark:text-red-500">See More</div>
                </div>
            </a>
        </div>

        <div class="col-span-2 md:col-span-1">
            <div class="text-xl"><i class="text-orange-700 dark:text-orange-500 font-semibold">Where</i> I am...</div>
            {% for note in filter_tag(notes, "travel")[:3] %}
            <a href="/notes/{{note.webpage_path}}">
                <div class="mt-4 rounded border dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg p-6">
                    <div class="text-lg md:text-base font-semibold text-orange-700 dark:text-orange-500">{{note.title}}</div>
                    <div class="text-base md:text-sm text-gray-600 dark:text-gray-400">{{note.metadata.date.strftime("%B %-d, %Y")}}</div>
                </div>
            </a>
            {% endfor %}
            <a href="/travel">
                <div class="mt-4 rounded border dark:border-gray-500 hover:bg-gray-50 dark:hover:bg-gray-800 rounded-lg p-6">
                    <div class="text-lg md:text-base font-semibold text-orange-700 dark:text-orange-500">See More</div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}