{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="">
    {% with %}
    {% set active = "home" %}
        {%include "logo.html"%}
    {% endwith %}
</div>
<div class="mt-4 max-w-3xl mx-auto px-4 text-gray-900 dark:text-gray-100">

    <div class="flex flex-col md:flex-row items-center tracking-tight gap-y-4">
        <img src="/icons/self_small.jpg" class="rounded-2xl w-44 h-44"></img>
        <div class="text-3xl font-bold ml-4">
            <div>Hi, I'm Pierce Freeman. I'm a ML engineer and founder.</div>
            <div class="mt-4">Get in touch: <a class="text-blue-500 dark:text-blue-300 hover:text-blue-600 dark:hover:text-blue-200 font-bold" href="mailto:pierce@freeman.vc">pierce@freeman.vc</a></div>
        </div>
    </div>
    <div class="mt-4 text-4xl text-gray-400 text-center">
        ~ ~ ~
    </div>    
    <div class="mt-4 space-y-4">
        {% for note in filter_tag(notes, "!travel") %}
        <div>
            <a href="/notes/{{note.webpage_path}}">
                <div class="group hover:-mt-[3px] hover:pb-[3px] transition-all duration-100">
                    <div class="py-2 {% if loop.index == 0 %} pt-0 {% endif %}">
                        <div class="bg-indigo-500 text-white font-bold p-2 rounded flex items-center group-hover:shadow-md transition-all duration-100">
                            <p class="grow">{{note.title}}</p>
                            <div class="bg-white rounded p-1 text-indigo-500 font-bold text-sm">{{note.metadata.date.strftime("%B %-d, %Y")}}</div>
                        </div>
                    </div>
                    <article>
                        <p class="break-all text-ellipsis line-clamp-4 text-gray-800 dark:text-gray-300">
                            {{note.get_preview()}}
                        </p>
                    </article>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

</div>

{% endblock %}