{% extends "base.html" %}

{% block title %}
Notes
{% endblock %}

{% block content %}
<div>
    {% with %}
    {% set active = "notes" %}
        {%include "logo.html"%}
    {% endwith %}
</div>
<div class="mt-8 max-w-6xl mx-auto px-4 text-gray-900 dark:text-gray-100 text-base">
    <div class="mt-4 grid grid-cols-3 gap-x-2">
        <div class="col-span-3 md:col-span-2 divide-y divide-slate-200 dark:divide-slate-800">
            {% for note in filter_tag(notes, "!travel", offset, limit or 5) %}
            <div>
                <div class="py-4">
                        <div class="text-blue-900 hover:text-blue-700 dark:text-blue-200 dark:hover:text-blue-300 font-semibold text-2xl md:text-lg border-b-2">
                            <a href="./notes/{{note.webpage_path}}">{{note.title}}</a>
                        </div>
                        <div class="mt-2 text-gray-600 dark:text-gray-300 md:text-sm space-y-2">
                            <p><span class="text-gray-500 dark:text-gray-400">[Read time: {{ note.read_time_minutes }} minutes]</span> {{note.metadata.date.strftime("%B %-d, %Y")}}</p>        
                        </div>
                </div>
                <article class="article-small px-2 mt-4 pb-8 prose prose-img:m-0 text-lg md:text-sm dark:prose-invert max-w-none">
                    {{note.get_html()|safe}}
                </article>
            </div>
            {% endfor %}
        </div>
        <div class="hidden md:block md:col-span-1">
            {% for note in filter_tag(notes, "!travel") %}
            <div>
                <a href="./notes/{{note.webpage_path}}">
                    <div class="py-4 px-4 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md">
                        <div class="text-black-900 dark:text-gray-200 font-semibold text-sm">{{note.title}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}