{% extends "base.html" %}

{% block title %}
Notes
{% endblock %}

{% block content %}
<div>
    {% with %}
    {% set active = "notes" %}
        {%include "logo.html"%}
    {% endwith %}
</div>
<div class="mt-8 max-w-2xl mx-auto px-4 text-gray-900 dark:text-gray-100 text-base">
    <div class="mt-4">
        <div class="divide-y divide-slate-200 dark:divide-slate-800">
            {% for note in filter_tag(notes, "!travel") %}
            <div>
                <a href="./notes/{{note.webpage_path}}">
                    <div class="py-4 px-4 hover:bg-gray-100 dark:hover:bg-gray-800">
                            <div class="text-black-900 dark:text-gray-200 font-semibold text-3xl">{{note.title}}</div>
                            <div class="mt-2 text-gray-600 dark:text-gray-300 md:text-sm space-y-2">
                                <p><span class="text-gray-500 dark:text-gray-400">[Read time: {{ note.read_time_minutes }} minutes]</span> {{note.metadata.subtitle[0]}}</p>        
                            </div>
                            <div class="mt-1 text-gray-400 dark:text-gray-500 md:text-sm">- {{note.metadata.date.strftime("%B %-d, %Y")}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}