{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block
    content %}
    <div class="sm:max-w-xl md:max-w-2xl md:px-8 lg:max-w-3xl lg:px-0 xl:max-w-4xl">
        <div>
            <div class="w-full px-4 lg:w-[550px] xl:w-[600px]" id="content-raw">
                <article>
                    <h1 class="block text-3xl font-medium tracking-normal md:text-4xl dark:text-white">
                        <span class="bg-transparent font-extrabold shadow-[inset_0_-0.5em_0_0_rgba(96,165,250,0.50)]">{{ header }}</span>
                    </h1>
                    <div class="mt-4 text-gray-300">
                        <h6># {{ metadata.date.strftime("%B %-d, %Y") }}</h6>
                    </div>
                    <div class="text-sm leading-5 prose md:prose-base prose-lg prose-img:m-0 dark:prose-invert mt-4 max-w-none">{{ content|safe }}</div>
                    {% if metadata.tags %}
                        <div class="text-sm leading-5 prose prose-img:m-0 dark:prose-invert mt-4 max-w-none">
                            Related tags:
                            <div>
                                {% for tag in metadata.tags %}
                                    <span>#{{ tag }}</span>{%
                                    endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </article>
                </div>
                <div class="{% if has_footnotes %}lg:block lg:grow{% endif %} relative hidden"
                     id="footnotes-inline">
                    <!-- Inline footnotes -->
                    <template id="footnote-template">
                        <div class="text-sm leading-5 prose dark:prose-invert border-l-4 pl-2 text-slate-400">{CONTENT}</div>
                    </template>
                </div>
            </div>
            <div class="px-4 mt-8 grid grid-cols-1 lg:grid-cols-3 gap-8">
                {% for relevant_note in relevant_notes %}
                    <div class="border-l-8 pl-4 border-blue-500 dark:text-gray-100">
                        <div class="py-4">
                            <div class="font-bold">{{ relevant_note.title }}</div>
                            <div class="mt-4">{{ relevant_note.metadata.subtitle[0] }}</div>
                            <div class="mt-2">
                                <a href="/notes/{{ relevant_note.webpage_path }}.html"
                                   class="font-medium text-blue-500">
                                    <div class="flex">
                                        <span>Read</span>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 20 20"
                                                 fill="currentColor"
                                                 aria-hidden="true"
                                                 data-slot="icon"
                                                 class="h-6 w-6">
                                                <path fill-rule="evenodd" d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z" clip-rule="evenodd">
                                                </path>
                                            </svg>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include "subscribe.html" %}
        <script type="text/javascript">
    const contentRaw = document.getElementById("content-raw");
    const footnotes = document.getElementById("footnotes-inline");
    const footnoteTemplate = document.getElementById("footnote-template");

    const footnoteSpacePadding = 20;

    function updateFootnotes() {
        let maxY = 0;

        // Clear existing footnotes to avoid duplicates
        footnotes.innerHTML = "";

        document.querySelectorAll(".footnote-ref").forEach((callout) => {
            // Based on the a tag link, get the actual footnote
            const footnoteId = callout.getAttribute("href").replace("#", "");
            const footnoteOriginal = document.getElementById(footnoteId);

            // Get the position relative to the parent container and scroll
            const calloutRect = callout.getBoundingClientRect();
            const parentRect = contentRaw.getBoundingClientRect();
            const top = Math.max(
                maxY + footnoteSpacePadding,
                calloutRect.top - parentRect.top,
            );

            // New footnote div
            let footnote = document.createElement("div");
            footnote.style.position = "absolute";
            footnote.style.top = top + "px";
            footnote.innerHTML = footnoteTemplate.innerHTML.replace(
                "{CONTENT}",
                footnoteOriginal.innerHTML,
            );

            footnotes.appendChild(footnote);

            // Find where this has rendered to present a cap on the y-axis for subsequent notes
            const footnoteRect = footnote.getBoundingClientRect();
            const footnoteTop = footnoteRect.top - parentRect.top;
            const footnoteBottom = footnoteTop + footnoteRect.height;
            maxY = footnoteBottom;
        });

        // 25px padding on the bottom of the page
        footnotes.style.minHeight = maxY + 25 + "px";
    }

    // Create a new ResizeObserver
    const resizeObserver = new ResizeObserver((entries) => {
        for (let entry of entries) {
            // Check if the contentRaw is being observed and resized
            if (entry.target === contentRaw) {
                updateFootnotes();
            }
        }
    });

    // Start observing the contentRaw element
    resizeObserver.observe(contentRaw);

    // Call the function on initial load
    updateFootnotes();
        </script>
        <style>
    /*
     * md: 	@media (min-width: 768px) { ... }
     * lg: @media (min-width: 1024px) { ... }
     */
    @media (min-width: 1024px) {
        .footnote {
            display: none;
        }
    }
        </style>
    {% endblock %}
