{% extends "base.html" %}
{% block title %}{{ header }}{% endblock %}
{% block
    content %}
    <div class="rounded-xs"></div>
    <div class="mx-auto mt-6 px-4 pb-8 sm:max-w-2xl md:max-w-3xl md:px-8 lg:max-w-4xl lg:px-0 xl:max-w-5xl">
        <div>
            <div class="w-full px-4 lg:w-[650px] xl:w-[700px]"
                 id="content-raw">
                <article>
                    <h1 class="block rounded-sm bg-blue-400 px-6 py-4 text-4xl font-medium tracking-normal text-white md:text-5xl">
                        {{ header }}
                    </h1>
                    <div class="mt-4 text-lg text-gray-300">
                        <h6># {{ metadata.date.strftime("%B %-d, %Y") }}</h6>
                    </div>
                    <div class="article-large prose prose-img:m-0 dark:prose-invert mt-4 max-w-none">{{ content|safe }}</div>
                </article>
            </div>
            <div class="{% if has_footnotes %}lg:block lg:grow{% endif %}">
                <!-- Inline footnotes -->
                <template id="footnote-template">
                    <div class="prose dark:prose-invert border-l-4 pl-2 text-slate-400">{CONTENT}</div>
                </template>
            </div>
        </div>
    </div>
    {% include "subscribe.html" %}
{% endblock %}
