<div class="sm:max-w-2xl md:max-w-2xl md:px-8 mx-auto">
    <div class="bg-gray-50 px-4 py-8 dark:bg-white/10 border border-gray-200 dark:border-white/25 rounded-2xl m-8">
        <div class="mx-auto sm:max-w-1xl">
            <div class="text-sml text-gray-800 dark:text-gray-100">
                <h2 class="text-xl font-bold tracking-tight">Hi, I'm Pierce</h2>
                <p class="mt-4">
                    I write mostly about engineering, machine learning, and
                    company building. If you want to get updated about longer
                    essays, subscribe here.
                </p>
                <p class="mt-4">
                    I hate spam so I keep these infrequent - once or twice a
                    month, maximum.
                </p>
            </div>
            <form id="newsletter-form">
                <div class="mt-4 flex gap-x-4">
                    <label htmlFor="email-address" class="sr-only">Email address</label>
                    <input id="email-address"
                           name="email_address"
                           type="email"
                           autocomplete="email"
                           required
                           class="min-w-0 flex-auto rounded-md border-0 bg-white/5 px-3.5 py-2 text-gray-800    git push --set-upstream origin feature/less-padding-on-mobile
                            shadow-xs ring-1 ring-inset ring-gray-200 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6 dark:text-gray-100 dark:ring-inset dark:ring-gray-300 dark:focus:ring-indigo-500"
                           placeholder="Type your email..." />
                    <button type="submit"
                            class="flex-none rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
                        Subscribe
                    </button>
                </div>
            </form>
            <div id="form-result" class="mt-4 hidden">
                <div id="form-success" class="text-green-600"></div>
                <div id="form-error" class="text-red-600"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    const form = document.getElementById("newsletter-form");
    const formResult = document.getElementById("form-result");
    const formSuccess = document.getElementById("form-success");
    const formError = document.getElementById("form-error");

    function uuidv4() {
        return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
            /[xy]/g,
            function (c) {
                var r = (Math.random() * 16) | 0,
                    v = c == "x" ? r : (r & 0x3) | 0x8;
                return v.toString(16);
            },
        );
    }

    form.addEventListener("submit", function (event) {
        event.preventDefault();
        var data = new FormData(form);
        data.append("token", "");
        data.append("user", uuidv4());
        data.append("referrer", window.location.host);

        fetch("https://app.convertkit.com/forms/4967888/subscriptions", {
            method: "post",
            body: data,
            headers: {
                Accept: "application/json",
            },
        })
            .then(function (response) {
                if (response.status !== 200) {
                    console.error(
                        "Newsletter Submission Error: " + response.status,
                    );
                    formResult.classList.remove("hidden");
                    formError.innerHTML =
                        "There was a problem, please try again later.";
                    form.innerHTML = "";
                    return;
                }

                return response.json();
            })
            .then(function (data) {
                formResult.classList.remove("hidden");
                form.innerHTML = "";
                if (data.status == "success") {
                    formSuccess.innerHTML = "Thanks for subscribing!";
                } else {
                    formError.innerHTML =
                        "There was a problem, please try again later.";
                }
            });
    });
</script>
