{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block
    content %}
    <div class="max-w-2xl">
        <div class="grid grid-cols-1 gap-8">
            {% for note in filter_tag(notes, "travel") %}
                <div>
                    <div class="group">
                        <div class="relative overflow-hidden">
                            <a href="./notes/{{ note.webpage_path }}" class="block">
                                <div class="py-6 px-4">
                                    <div class="flex items-center justify-between">
                                        <div class="text-2xl text-gray-800 dark:text-gray-200">{{ note.title }}</div>
                                        <div class="text-gray-700 dark:text-gray-400 italic">{{ note.metadata.date.strftime("%B %Y") }}</div>
                                    </div>
                                </div>
                                {% if note.featured_assets %}
                                    <img src="{{ note.featured_assets[0].asset.remote_preview_path }}"
                                         class="object-cover rounded-sm aspect-video w-full {% if note.featured_assets[0].cover == FeaturedPhotoPosition.CENTER %} object-center {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.LEFT %} object-left {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.RIGHT %} object-right {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.TOP %} object-top {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.BOTTOM %} object-bottom {% endif %}" />
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
