{% extends "base.html" %}
{% block title %}Travel{% endblock %}
{% block
    content %}
    <div class="max-w-2xl">
        <div class="grid grid-cols-1 gap-8">
            {% for note in filter_tag(notes, "travel") %}
                <div>
                    <div class="group">
                        <div class="relative overflow-hidden">
                            <a href="./notes/{{ note.webpage_path }}" class="block">
                                <div class="pb-2 {% if loop.index == 0 %}pt-0{% endif %}">
                                    <div class="text-blue-500 dark:text-blue-300 hover:text-blue-400 font-bold md:flex items-center gap-x-2 underline">
                                        <p class="grow">
                                            <span class="inline-block mr-1">§</span>
                                            {{ note.title }}
                                        </p>
                                        {% if note.visible_tag %}
                                            <div class="text-indigo-500 dark:text-indigo-300 font-bold text-sm">{{ note.visible_tag }}</div>
                                        {% endif %}
                                        <div class="text-indigo-500 dark:text-indigo-300 font-bold text-sm">
                                            {{ note.metadata.date.strftime("%B %-d, %Y") }}
                                        </div>
                                    </div>
                                </div>
                                {% if note.featured_assets %}
                                    <img src="{{ note.featured_assets[0].asset.remote_preview_path }}"
                                         class="object-cover rounded-sm aspect-video w-full {% if note.featured_assets[0].cover == FeaturedPhotoPosition.CENTER %} object-center {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.LEFT %} object-left {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.RIGHT %} object-right {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.TOP %} object-top {% elif note.featured_assets[0].cover == FeaturedPhotoPosition.BOTTOM %} object-bottom {% endif %}" />
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
