{% extends "base.html" %}

{% block title %}
Travel
{% endblock %}

{% block content %}
<div>
    {% with %}
    {% set active = "travel" %}
        {%include "logo.html"%}
    {% endwith %}
</div>
<div class="mt-8 max-w-6xl mx-auto px-4 text-gray-900 dark:text-gray-100 text-base">
    <div class="mt-4 grid grid-cols-4 gap-x-2">
        <div class="col-span-3 divide-y divide-slate-200 dark:divide-slate-800">
            <div class="mt-12 grid max-w-5xl mx-auto sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-4 items-center justify-center px-4">
                {% for note in filter_tag(notes, "travel") %}
                    {% for asset in note.featured_assets %}
                        <a href="/notes/{{note.webpage_path}}">
                            <img src="{{asset.remote_preview_path}}" class="rounded-lg object-cover h-56 md:h-96 w-96 {% if loop.index is divisibleby 2 %}rotate-1{% else %}-rotate-1{% endif %}" />
                        </a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div>
            {% for note in filter_tag(notes, "travel") %}
            <div>
                <a href="./notes/{{note.webpage_path}}">
                    <div class="py-4 px-4 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md">
                        <div class="text-black-900 dark:text-gray-200 font-semibold text-sm">{{note.title}}</div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
